@media(min-width:480px) {
    * {

        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    /* section 1 */
    header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .header .logo h1 {
        padding: 15px 0px;
    }

    .menu {
        width: 100%;
        padding: 15px 0px;
    }

    .list {
        justify-content: center;
    }

    .mainlist {
        padding: 0px 10px;
    }

    .social i {
        padding: 15px 10px;
    }

    /* section 2 */
    .subabout h1 {
        font-size: 33px;
    }

    .subabout {
        width: 90%;
        margin: auto;
    }

    /* section 3 */
    .profile {
        width: 100%;
        height: auto;
    }

    .subpro {
        width: 90%;
        margin: auto;
        height: auto;
        flex-direction: column;
    }

    .subpro1 {
        width: 100%;
        height: 600px;

    }

    .subpro2 {
        width: 100%;
        height: auto;
    }

    .data {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    /* section 4 */
    .title::after {
        content: "";
        display: block;
        width: 155px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 38%;
        top: 10px;
        background-color: #27a776;
    }

}

@media(min-width:720px) {
    * {

        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    /* section 1 */
    header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .header .logo h1 {
        padding: 15px 0px;
    }

    .menu {
        width: 100%;
        padding: 15px 0px;
    }

    .list {
        justify-content: center;
    }

    .mainlist {
        padding: 0px 10px;
    }

    .social i {
        padding: 15px 10px;
    }

    /* section 2 */
    .subabout h1 {
        font-size: 33px;
    }

    .subabout {
        width: 90%;
        margin: auto;
    }

    /* section 3 */
    .profile {
        width: 100%;
        height: auto;
    }

    .subpro {
        width: 80%;
        margin: auto;
        height: auto;
        flex-direction: column;
    }

    .subpro1 {
        width: 100%;
        height: 600px;

    }

    .subpro2 {
        width: 100%;
        height: auto;
    }

    .data {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
     /* section 4 */
     .title::after {
        content: "";
        display: block;
        width: 155px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 25%;
        top: 10px;
        background-color: #27a776;
    }
}

@media(min-width:991px) {
    * {

        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    /* section 1 */
    header {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .header .logo h1 {
        padding: 0px 0px;
    }

    .menu {
        width: auto;
        padding: 0px 0px;
    }

    .list {
        justify-content: center;
    }

    .mainlist {
        padding: 0px 10px;
    }

    .social i {
        padding: 0px 10px;
    }

    /* section 2 */
    .subabout h1 {
        font-size: 42px;
    }

    .subabout {
        width: 70%;
        margin: auto;
    }
    /* section 3 */
    .profile {
        width: 100%;
        height: auto;
    }

    .subpro {
        width: 100%;
        margin: auto;
        height: auto;
        flex-direction: row;
    }

    .subpro1 {
        width: 40%;
        height: 600px;

    }

    .subpro2 {
        width: 59%;
        height: auto;
    }

    .data {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }
    .data1 {
        width: 50%;
        line-height: 35px;
        height: auto;
        font-size: 20px;
    }
    
    .data2 {
        width: 50%;
        line-height: 35px;
        font-size: 20px;
        height: auto;
    }
     /* section 4 */
     .title::after {
        content: "";
        display: block;
        width: 155px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 18%;
        top: 10px;
        background-color: #27a776;
    }
}

@media(min-width:1230px) {
    * {

        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: white;
    }

    /* section 1 */
    header {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .header .logo h1 {
        padding: 0px 0px;
    }

    .menu {
        width: auto;
        padding: 0px 0px;
    }

    .list {
        justify-content: center;
    }

    .mainlist {
        padding: 0px 20px;
    }

    .social i {
        padding: 0px 10px;
    }

    /* section 2 */
    .subabout h1 {
        font-size: 42px;
    }

    .subabout {
        width: 40%;
        margin: auto;
    }
    /* section 3 */
    .profile {
        width: 100%;
        height: auto;
    }

    .subpro {
        width: 70%;
        margin: auto;
        height: auto;
        flex-direction: row;
    }

    .subpro1 {
        width: 40%;
        height: 600px;

    }

    .subpro2 {
        width: 59%;
        height: auto;
    }

    .data {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }
    .data1 {
        width: 50%;
        line-height: 50px;
        height: 250px;
        font-size: 20px;
    }
    
    .data2 {
        width: 50%;
        line-height: 50px;
        font-size: 20px;
        height: 250px;
    }
     /* section 4 */
     .title::after {
        content: "";
        display: block;
        width: 155px;
        height: 2px;
        background: #000;
        position: absolute;
        left: 11%;
        top: 10px;
        background-color: #27a776;
    }
}